
.mypage
  .user_edit
    .user_edit__side
      .user_edit__side--list
        %ul
          %li
            = link_to "#" , class:"user_edit__side--list--list" do
              マイページ 
              = icon 'fas', 'chevron-right', class:'list--icon'
          %li
            = link_to "#" , class:"user_edit__side--list--list" do
              お知らせ
              = icon 'fas', 'chevron-right', class:'list--icon'
          %li
            = link_to "#" , class:"user_edit__side--list--list" do
              やることリスト
              = icon 'fas', 'chevron-right', class:'list--icon'
          %li
            = link_to "#" , class:"user_edit__side--list--list" do
              いいね！一覧
              = icon 'fas', 'chevron-right', class:'list--icon'
          %li
            = link_to "#" , class:"user_edit__side--list--list" do
              出品する
              = icon 'fas', 'chevron-right', class:'list--icon'
          %li
              = link_to exhibiting_path , class:"user_destroy__side--list--list" do
                出品した商品-出品中
                = icon 'fas', 'chevron-right', class:'list--icon'
            %li
              = link_to trading_path , class:"user_destroy__side--list--list" do
                出品した商品-取引中
                = icon 'fas', 'chevron-right', class:'list--icon'
            %li
              = link_to sold_path , class:"user_destroy__side--list--list" do
                出品した商品-売却済み
                = icon 'fas', 'chevron-right', class:'list--icon'
          %li
            = link_to "#" , class:"user_edit__side--list--list" do
              購入した商品-取引中
              = icon 'fas', 'chevron-right', class:'list--icon'
          %li
            = link_to "#" , class:"user_edit__side--list--list" do
              購入した商品-過去の取引
              = icon 'fas', 'chevron-right', class:'list--icon'
          %li
            = link_to "#" , class:"user_edit__side--list--list" do
              ニュース一覧
              = icon 'fas', 'chevron-right', class:'list--icon'
          %li
            = link_to "#" , class:"user_edit__side--list--list" do
              評価一覧
              = icon 'fas', 'chevron-right', class:'list--icon'
          %li
            = link_to "#" , class:"user_edit__side--list--list" do
              ガイド
              = icon 'fas', 'chevron-right', class:'list--icon'
          %li
            = link_to "#" , class:"user_edit__side--list--list" do
              お問い合わせ
              = icon 'fas', 'chevron-right', class:'list--icon'
        %ul
          %h3.user_edit__side--list--head2 メルペイ
          %li
            = link_to "#" , class:"user_edit__side--list--list" do
              売上・振込申請
              = icon 'fas', 'chevron-right', class:'list--icon'
          %li
            = link_to "#" , class:"user_edit__side--list--list" do
              ポイント
              = icon 'fas', 'chevron-right', class:'list--icon'
        %ul
          %h3.user_edit__side--list--head2 設定
          %li
            = link_to "#" , class:"user_edit__side--list--list" do
              プロフィール
              = icon 'fas', 'chevron-right', class:'list--icon'
          %li
            = link_to "#" , class:"user_edit__side--list--list" do
              発送元・お届け先住所変更
              = icon 'fas', 'chevron-right', class:'list--icon'
          %li
            = link_to cards_path , class:"user_edit__side--list--list" do
              支払い方法
              = icon 'fas', 'chevron-right', class:'list--icon'
          %li
            = link_to "#" , class:"user_edit__side--list--list" do
              メール/パスワード
              = icon 'fas', 'chevron-right', class:'list--icon'
          %li
            = link_to "#" , class:"user_edit__side--list--list" do
              本人情報
              = icon 'fas', 'chevron-right', class:'list--icon'
          %li
            = link_to "#" , class:"user_edit__side--list--list" do
              電話番号の確認
              = icon 'fas', 'chevron-right', class:'list--icon'
          %li
            = link_to "#" , class:"user_edit__side--list--list" do
              ログアウト
              = icon 'fas', 'chevron-right', class:'list--icon'


  .mypage__card
    .mypage__card__contener
      .mypage__card__contener__head
        クレジットカード情報入力
      .mypage__card__contener__form
        -# %input
        .mypage__card__contener__form__content
          .mypage__card__contener__form__content__group
            .mypage__card__contener__form__content__group__text
              カード番号
            %span.mypage__card__contener__form__content__group__need
              必須
            %input{class:"mypage__card__contener__form__content__group__input", placeholder:"半角数字のみ", type: "text", maxlength: "19"}
            %ul
            %ul.mypage__card__contener__form__content__group__img
              %li
                =image_tag '//www-mercari-jp.akamaized.net/assets/img/card/visa.svg?1714804574', class:"mypage__card__contener__form__content__group__img__visa", size: "49x20"
              %li
                =image_tag '//www-mercari-jp.akamaized.net/assets/img/card/master-card.svg?1714804574', class:"mypage__card__contener__form__content__group__img__master-card", size: "34x20"
              %li
                =image_tag '//www-mercari-jp.akamaized.net/assets/img/card/saison-card.svg?1714804574', class:"mypage__card__contener__form__content__group__img__saison-card", size: "30x20"
              %li
                =image_tag '//www-mercari-jp.akamaized.net/assets/img/card/jcb.svg?1714804574', class:"mypage__card__contener__form__content__group__img__jcb", size: "32x20"
              %li
                =image_tag '//www-mercari-jp.akamaized.net/assets/img/card/american_express.svg?1714804574', class:"mypage__card__contener__form__content__group__img__american-express", size: "21x20"
              %li
                =image_tag '//www-mercari-jp.akamaized.net/assets/img/card/dinersclub.svg?1714804574', class:"mypage__card__contener__form__content__group__img__dinersclub", size: "32x20"
              %li
                =image_tag '//www-mercari-jp.akamaized.net/assets/img/card/discover.svg?1714804574', class:"mypage__card__contener__form__content__group__img__discover", size:"32x20"

          .mypage__card__contener__form__content__term
            .mypage__card__contener__form__content__term__text
              有効期限
            %span.mypage__card__contener__form__content__term__need
              必須
            %br
            .mypage__card__contener__form__content__term__select__m
              %select{class:"mypage__card__contener__form__content__term__select__m__select"}
                %option{value:"0"} 01
                %option{value:"1"} 02
                %option{value:"2"} 03
                %option{value:"3"} 04
                %option{value:"4"} 05
                %option{value:"5"} 06
                %option{value:"6"} 07
                %option{value:"7"} 08
                %option{value:"8"} 09
                %option{value:"9"} 10
                %option{value:"10"} 11
                %option{value:"11"} 12
              = icon('fas', 'chevron-down', class: "mypage__card__contener__form__content__term__select__m__icon")
              %span.mypage__card__contener__form__content__term__select__m__span 月
            .mypage__card__contener__form__content__term__select__y
              %select{class:"mypage__card__contener__form__content__term__select__y__select"}
                %option{value:"0"} 19
                %option{value:"1"} 20
                %option{value:"2"} 21
                %option{value:"3"} 22
                %option{value:"4"} 23
                %option{value:"5"} 24
                %option{value:"6"} 25
                %option{value:"7"} 26
                %option{value:"8"} 27
                %option{value:"9"} 28
                %option{value:"10"} 29
              = icon('fas', 'chevron-down', class: "mypage__card__contener__form__content__term__select__y__icon")
              %span 年
            %ul
            %ul
          .mypage__card__contener__form__content__cord
            .mypage__card__contener__form__content__cord__text
              セキュリティーコード
            %span.mypage__card__contener__form__content__cord__need
              必須
            %input{class: "mypage__card__contener__form__content__cord__number", placeholder: "カード背面4桁もしくは3桁の番号", type: "number"}
            %ul
            .mypage__card__contener__form__content__cord__description
              .mypage__card__contener__form__content__cord__description__text
                %span.mypage__card__contener__form__content__cord__description__text__question ?
                カードの裏面の番号とは？
          -#     .mypage__card__contener__form__content__cord__description__info
          -#       カードの裏面を参照ください。
          -#       =image_tag '#'
          -# %input
          -# %input
          -# %p
          -# %input
          %button{class: "mypage__card__contener__form__content__button", type: "button"}
            追加する

