- breadcrumb :edit_user
.breadcrumbs
  = breadcrumbs pretext: "",separator: " &rsaquo; ",class:"breadcrumbs__bar"
.profile
  .user_edit
    .user_edit--main
      .user_edit__side
        =render partial:"partial/sidelist"

      .user_edit__top--clearfix
        .user_edit__contents
          .user_edit__contents--container
            .user_edit__contents--container--head
              プロフィール
            .form
              .form__box
                .form__box--a
                  = image_tag 'aside.jpg', size:"40x40",class:"form__box--img"
                  %input{type:"text",class:"form__box--text", placeholder: "名前を入力してください"}
                .form__box--b
                  = form_for "#", method: :get, class: 'form__box--b' do |f|
                    %ul
                      %li
                        = f.text_area :text, rows: "10", class:'edit-text', placeholder: "例）こんにちは☆　ご覧いただきありがとうございます！かわいいものやキレイめオフィスカジュアル中心に出品しています。服のサイズは主に９号です。気持ちよくお取引出来るように心がけているので。出品や発送方法などご質問がありましたらお気軽にどうぞ♪"
                        = f.submit "変更する", class: 'edit-btn'            
  