.destroy
  .user_destroy
    .user_destroy__body
      .user_destroy__body__side
        =render partial:"partial/sidelist"
        
      .e-content
        %section.e-content__main
          %h10.e-content__main__title
            出品した商品
          %ul.e-content__main__tab
            %li.e-content__main__tab__list1
              %h11.e-content__main__tab__list__title1 出品中
            %li.e-content__main__tab__list2
              %h11.e-content__main__tab__list__title2 取引中
            %li.e-content__main__tab__list3
              %h11.e-content__main__tab__list__title3 売却済み
          .e-content__main__bottom
            .e-content__main__bottom__main
              %ul
                - @buyeditems.each do |item|
                  %ul.e-content__main__bottom__main__list
                    %li.e-content__main__bottom__main__list__body
                      .e-content__main__bottom__main__list__body__image
                        - item.photos.first(1).each do |photo|
                          = image_tag photo.image.url, size:"50x50",class:"content__box--img"
                      .e-content__main__bottom__main__list__body__main
                        .e-content__main__bottom__main__list__body__main__text 
                          = item.name
                        %ul.e-content__main__bottom__main__list__body__main__sub
                          %li.listing-item-count
                            = icon 'far', 'heart', class:'listing-item-count__icon'
                            %span 5
                          %li.listing-item-count
                            = icon 'far', 'comment-alt', class:'listing-item-count__icon'
                            %span 5
                          %li.listing-item-text 公開停止中
                    = icon 'fas', 'chevron-right', class:'e-content__main__bottom__main__list__body__icon'
          %ul.e-content__main__history
            %li.e-content__main__history__icon1
              = icon 'fas', 'chevron-left', class:'e-content__main__history__icon11'
            %li.e-content__main__history__icon2
              = icon 'fas', 'chevron-right', class:'e-content__main__history__icon22'

