- breadcrumb :sign_out
.breadcrumbs
  = breadcrumbs pretext: "",separator: " &rsaquo; ",class:"breadcrumbs__bar"    

.destroy
  .user_destroy
    .user_destroy__body
      .user_destroy__body__side
        .user_destroy__body__side--list
          %ul
            %li
              = link_to "#" , class:"user_destroy__side--list--list" do
                マイページ 
                = icon 'fas', 'chevron-right', class:'list--icon'
            %li
              = link_to "#" , class:"user_destroy__side--list--list" do
                お知らせ
                = icon 'fas', 'chevron-right', class:'list--icon'
            %li
              = link_to "#" , class:"user_destroy__side--list--list" do
                やることリスト
                = icon 'fas', 'chevron-right', class:'list--icon'
            %li
              = link_to "#" , class:"user_destroy__side--list--list" do
                いいね！一覧
                = icon 'fas', 'chevron-right', class:'list--icon'
            %li
              = link_to "#" , class:"user_destroy__side--list--list" do
                出品する
                = icon 'fas', 'chevron-right', class:'list--icon'
            %li
              = link_to exhibiting_path , class:"user_destroy__side--list--list" do
                出品した商品-出品中
                = icon 'fas', 'chevron-right', class:'list--icon'
            %li
              = link_to trading_path , class:"user_destroy__side--list--list" do
                出品した商品-取引中
                = icon 'fas', 'chevron-right', class:'list--icon'
            %li
              = link_to sold_path , class:"user_destroy__side--list--list" do
                出品した商品-売却済み
                = icon 'fas', 'chevron-right', class:'list--icon'
            %li
              = link_to "#" , class:"user_destroy__side--list--list" do
                購入した商品-取引中
                = icon 'fas', 'chevron-right', class:'list--icon'
            %li
              = link_to "#" , class:"user_destroy__side--list--list" do
                購入した商品-過去の取引
                = icon 'fas', 'chevron-right', class:'list--icon'
            %li
              = link_to "#" , class:"user_destroy__side--list--list" do
                ニュース一覧
                = icon 'fas', 'chevron-right', class:'list--icon'
            %li
              = link_to "#" , class:"user_destroy__side--list--list" do
                評価一覧
                = icon 'fas', 'chevron-right', class:'list--icon'
            %li
              = link_to "#" , class:"user_destroy__side--list--list" do
                ガイド
                = icon 'fas', 'chevron-right', class:'list--icon'
            %li
              = link_to "#" , class:"user_destroy__side--list--list" do
                お問い合わせ
                = icon 'fas', 'chevron-right', class:'list--icon'
          %ul
            %h3.user_destroy__side--list--head2 メルペイ
            %li
              = link_to "#" , class:"user_destroy__side--list--list" do
                売上・振込申請
                = icon 'fas', 'chevron-right', class:'list--icon'
            %li
              = link_to "#" , class:"user_destroy__side--list--list" do
                ポイント
                = icon 'fas', 'chevron-right', class:'list--icon'
          %ul
            %h3.user_destroy__side--list--head3 設定
            %li
              = link_to "#" , class:"user_destroy__side--list--list" do
                プロフィール
                = icon 'fas', 'chevron-right', class:'list--icon'
            %li
              = link_to "#" , class:"user_destroy__side--list--list" do
                発送元・お届け先住所変更
                = icon 'fas', 'chevron-right', class:'list--icon'
            %li
              = link_to "#" , class:"user_destroy__side--list--list" do
                支払い方法
                = icon 'fas', 'chevron-right', class:'list--icon'
            %li
              = link_to "#" , class:"user_destroy__side--list--list" do
                メール/パスワード
                = icon 'fas', 'chevron-right', class:'list--icon'
            %li
              = link_to "#" , class:"user_destroy__side--list--list" do
                本人情報
                = icon 'fas', 'chevron-right', class:'list--icon'
            %li
              = link_to "#" , class:"user_destroy__side--list--list" do
                電話番号の確認
                = icon 'fas', 'chevron-right', class:'list--icon'
            %li
              = link_to destroy_user_session_path, method: :delete, class:"user_destroy__side--list--list" do
                ログアウト
                = icon 'fas', 'chevron-right', class:'list--icon'
      .user_destroy__main
        .user_destroy__main--body
          .user_destroy__main--body--form
            = link_to "ログアウト", destroy_user_session_path, method: :delete,class: 'user_destroy__main--body--form--form check-btn'