.destroy
  .user_destroy
    .user_destroy__body
      .user_destroy__body__side
        .user_destroy__body__side--list
          %ul
            %li
              = link_to "#" , class:"user_destroy__side--list--list" do
                マイページ 
                = icon 'fas', 'chevron-right', class:'list--icon'
            %li
              = link_to "#" , class:"user_destroy__side--list--list" do
                お知らせ
                = icon 'fas', 'chevron-right', class:'list--icon'
            %li
              = link_to "#" , class:"user_destroy__side--list--list" do
                やることリスト
                = icon 'fas', 'chevron-right', class:'list--icon'
            %li
              = link_to "#" , class:"user_destroy__side--list--list" do
                いいね！一覧
                = icon 'fas', 'chevron-right', class:'list--icon'
            %li
              = link_to "#" , class:"user_destroy__side--list--list" do
                出品する
                = icon 'fas', 'chevron-right', class:'list--icon'
            %li
              = link_to "#" , class:"user_destroy__side--list--list" do
                出品した商品-出品中
                = icon 'fas', 'chevron-right', class:'list--icon'
            %li
              = link_to "#" , class:"user_destroy__side--list--list" do
                出品した商品-取引中
                = icon 'fas', 'chevron-right', class:'list--icon'
            %li
              = link_to "#" , class:"user_destroy__side--list--list" do
                出品した商品-売却済み
                = icon 'fas', 'chevron-right', class:'list--icon'
            %li
              = link_to "#" , class:"user_destroy__side--list--list" do
                購入した商品-取引中
                = icon 'fas', 'chevron-right', class:'list--icon'
            %li
              = link_to "#" , class:"user_destroy__side--list--list" do
                購入した商品-過去の取引
                = icon 'fas', 'chevron-right', class:'list--icon'
            %li
              = link_to "#" , class:"user_destroy__side--list--list" do
                ニュース一覧
                = icon 'fas', 'chevron-right', class:'list--icon'
            %li
              = link_to "#" , class:"user_destroy__side--list--list" do
                評価一覧
                = icon 'fas', 'chevron-right', class:'list--icon'
            %li
              = link_to "#" , class:"user_destroy__side--list--list" do
                ガイド
                = icon 'fas', 'chevron-right', class:'list--icon'
            %li
              = link_to "#" , class:"user_destroy__side--list--list" do
                お問い合わせ
                = icon 'fas', 'chevron-right', class:'list--icon'
          %ul
            %h3.user_destroy__side--list--head2 メルペイ
            %li
              = link_to "#" , class:"user_destroy__side--list--list" do
                売上・振込申請
                = icon 'fas', 'chevron-right', class:'list--icon'
            %li
              = link_to "#" , class:"user_destroy__side--list--list" do
                ポイント
                = icon 'fas', 'chevron-right', class:'list--icon'
          %ul
            %h3.user_destroy__side--list--head3 設定
            %li
              = link_to "#" , class:"user_destroy__side--list--list" do
                プロフィール
                = icon 'fas', 'chevron-right', class:'list--icon'
            %li
              = link_to "#" , class:"user_destroy__side--list--list" do
                発送元・お届け先住所変更
                = icon 'fas', 'chevron-right', class:'list--icon'
            %li
              = link_to "#" , class:"user_destroy__side--list--list" do
                支払い方法
                = icon 'fas', 'chevron-right', class:'list--icon'
            %li
              = link_to "#" , class:"user_destroy__side--list--list" do
                メール/パスワード
                = icon 'fas', 'chevron-right', class:'list--icon'
            %li
              = link_to "#" , class:"user_destroy__side--list--list" do
                本人情報
                = icon 'fas', 'chevron-right', class:'list--icon'
            %li
              = link_to "#" , class:"user_destroy__side--list--list" do
                電話番号の確認
                = icon 'fas', 'chevron-right', class:'list--icon'
            %li
              = link_to "#" , class:"user_destroy__side--list--list" do
                ログアウト
                = icon 'fas', 'chevron-right', class:'list--icon'
      .e-content
        %section.e-content__main
          %h10.e-content__main__title
            出品した商品
          %ul.e-content__main__tab
            %li.e-content__main__tab__list7
              %h11.e-content__main__tab__list__title7 出品中
            %li.e-content__main__tab__list8
              %h11.e-content__main__tab__list__title8 取引中
            %li.e-content__main__tab__list9
              %h11.e-content__main__tab__list__title9 売却済み
          .e-content__main__bottom
            .e-content__main__bottom__main
              %ul
                - @solditems.each do |item|
                  %ul.e-content__main__bottom__main__list
                    %li.e-content__main__bottom__main__list__body
                      .e-content__main__bottom__main__list__body__image
                        - item.photos.each do |photo|
                          = image_tag photo.image.url, size:"50x50",class:"content__box--img"
                      .e-content__main__bottom__main__list__body__main
                        .e-content__main__bottom__main__list__body__main__text 
                          = item.name
                        %ul.e-content__main__bottom__main__list__body__main__sub
                          %li.listing-item-count
                            = icon 'far', 'heart', class:'listing-item-count__icon'
                            %span 5
                          %li.listing-item-count
                            = icon 'far', 'comment-alt', class:'listing-item-count__icon'
                            %span 5
                          %li.listing-item-text 公開停止中
                    = icon 'fas', 'chevron-right', class:'e-content__main__bottom__main__list__body__icon'
          %ul.e-content__main__history
            %li.e-content__main__history__icon1
              = icon 'fas', 'chevron-left', class:'e-content__main__history__icon11'
            %li.e-content__main__history__icon2
              = icon 'fas', 'chevron-right', class:'e-content__main__history__icon22'