.box.a
  = link_to '#', class: "link" do
    .box__image
      = image_tag "sample.jpg", size: "188x188", class: "photo"
      .price
        %span= "¥ 800"
        -# %span= "¥ #{item.price}"
    .box__name
      %span{ class: 'box__name__span'}= "パソコン"
      -# %span= item.name
