.box.a
  = link_to '#', class: "link" do
    .box__image
      = image_tag item.photos.first.image.url, size: "188x188", class: "photo"
      .price
        %span= "¥ #{item.price}"
    .box__name
      %span{ class: 'box__name__span'}= item.name
