%html
  %header
    .top
      .top__logo
      = link_to root_path do
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 281.19 84.08"><defs><style>.cls-1{fill:#dc4912;stroke:#fff;stroke-miterlimit:10;}.cls-2{font-size:48px;fill:#231815;font-family:YuGo-Bold-83pv-RKSJ-H, YuGothic;}</style></defs><title>アセット 3</title><g id="レイヤー_2" data-name="レイヤー 2"><g id="レイヤー_1-2" data-name="レイヤー 1"><polygon class="cls-1" points="36.41 83.5 0.5 62.77 0.5 21.31 36.41 0.58 72.32 21.31 72.32 62.77 36.41 83.5"/><polyline class="cls-1" points="0.5 21.31 36.41 42.04 72.32 21.31"/><polyline class="cls-1" points="36.41 83.5 36.41 49.36 36.41 42.04"/><line class="cls-1" x1="36.41" y1="52.41" x2="0.5" y2="31.67"/><line class="cls-1" x1="72.32" y1="33.2" x2="36.41" y2="50.88"/><text class="cls-2" transform="translate(86.41 62.77)">Fmarket</text></g></g></svg>
  .item__head
    商品の情報を入力
  .items
    = form_for (@item), method: method.to_sym, class:"items" do |f|
      .items__images
        .items__images__head
          %label.items__images__head__title
            出品画像
          %label.items__images__head__rightAttention
            必須
        .items__images__imageAttention
          最大10枚までアップロードできます
        #imageBox.items__images__upload
          .item-num-0#image-box__container
            = f.fields_for :photo, class: "image-label" do |i|
              %label{for:"user_img"}
                .items__images__upload__box
                  = i.file_field :image, type: 'file', name: "item[photos_attributes][][image]", value:"", style: "display:none", class: "image-label__input", id: "user_img"
                  .items__images__upload__box__word1
                    ドラッグアンドドロップ
                  .items__images__upload__box__word2
                    またはクリックしてファイルをアップロード
            
        .clearfix
        .items__information
          .items__information__name
            %label.items__information__name__title
              商品名
            %label.items__information__name__rightAttention
              必須
          .items__information__textform-name
            = f.text_field :name, class:'items__information__textform-name__input', placeholder: "商品名(必須40文字まで)"
          .items__information__explanation
            %label.items__information__explanation__title
              商品の説明
            %label.items__information__explanation__rightAttention
              必須
          .items__information__textform-explanation
            %form
              = f.text_area :description, class:'items__information__textform-explanation__input', placeholder:"商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。"
        .items__definition
          .items__definition__title
            商品の詳細
          .items__definition__category
            .items__definition__category__contents
              %label.items__definition__category__contents__title
                カテゴリー
              %label.items__definition__category__contents__rightAttention
                必須
            .items__definition__category__select
              = icon 'fas', 'chevron-down'
              = f.select :categoryname, Item.categorynames.keys, { prompt: '---' }, {class:'selectBox'}
            .items__definition__category__brand
              .items__definition__category__brand__contents
                %label.items__definition__category__brand__contents__title
                  ブランド
                %label.items__definition__category__brand__contents__rightAttention
                  任意
                = f.fields_for :brands do |brand|
                  = brand.text_field :brandname, placeholder: "例）シャネル", value: "", class: 'items__definition__category__brand__contents__input'
            .items__definition__category__status
              %label.items__definition__category__status__title
                商品の状態
              %label.items__definition__category__status__rightAttention
                必須
            .items__definition__category__status__select
              = icon 'fas', 'chevron-down'
              = f.select :condition, Item.conditions.keys, { prompt: '---' }, class: 'selectBox'
          .clearfix
        .items__shipping
          .items__shipping__title
            配送について
            <i class="fas fa-question-circle"></i>
          .items__shipping__contents
            .items__shipping__contents__fee
              %label.items__shipping__contents__fee__title
                配送料の負担
              %label.items__shipping__contents__fee__rightAttention
                必須
              .items__shipping__contents__fee__select
                = icon 'fas', 'chevron-down'
                = f.select :delivery_fee, Item.delivery_fees.keys, { prompt: '---' }, {class: "selectBox"}
            .items__shipping___contents__area{style:"float: right; margin-top: 40px;"}
              %label.items__shipping__contents__area__title
                発送元の地域
              %label.items__shipping__contents__area__rightAttention
                必須
              .items__shipping__contents__area__select
                = icon 'fas', 'chevron-down'
                -# = f.collection_select :shipping_area, Prefecture.all, :id, :name
                = f.select :shipping_area, Item.shipping_areas.keys, { prompt: '---' }, {class: "selectBox"}
                -# ["---","北海道","青森県","岩手県","宮城県","秋田県","山形県","福島県","茨城県","栃木県","群馬県","埼玉県","千葉県","東京都","神奈川県","新潟県","富山県","石川県","福井県","山梨県","長野県","岐阜県","静岡県","愛知県","三重県","滋賀県","京都府","大阪府","兵庫県","奈良県","和歌山県","鳥取県","島根県","岡山県","広島県","山口県","徳島県","香川県","愛媛県","高知県","福岡県","佐賀県","長崎県","熊本県","大分県","宮崎県","鹿児島県","沖縄県"]
            .items__shipping__contents__date
              %label.items__shipping__contents__date__title
                発送までの日数
              %label.items__shipping__contents__date__rightAttention
                必須
              .items__shipping__contents__date__select
                = icon 'fas', 'chevron-down'
                -# = f.select :shipping_days, ["1~2日で発送","2~3日で発送","100000000~7日で発送"], class: "selectBox"
                = f.select :shipping_days, Item.shipping_days.keys, { prompt: '---' }, {class: "selectBox"}
          .clearfix
        .items__cost
          .items__cost__title
            販売価格(300〜9,999,999)
            <i class="fas fa-question-circle"></i>
          .items__cost__price
            .items__cost__price__inputPrice
              .items__cost__price__inputPrice__title
                価格
              %span.items__cost__price__inputPrice__rightAttention
                必須
              .items__cost__price__inputPrice-input
                ￥
                = f.number_field :price, id: "price", class: "items__cost__price-inputArea", placeholder:"例) 300"
            .items__cost__price__outputFee
              .items__cost__price__outputFee__title
                販売手数料 (10%)
                %input#fee.items__cost__price-Fee{value:"-",readonly:true}
            .items__cost__price__outputFee__profit
              販売利益
              %input.items__cost__price-inputArea-answer{value:"-",readonly:true}
          .clearfix
        .items__postArea
          .items__postArea__attention
            = link_to '禁止されている出品、行為','#' 
            を必ずご確認ください。
            %br
            またブランド品でシリアルナンバー等がある場合はご記載ください。
            = link_to '偽ブランドの販売','#'
            は犯罪であり処罰される可能性があります。
            %br
            また、出品をもちまして
            = link_to '加盟店規約','#'
            に同意したことになります。
          = f.submit "出品する", class: 'items__postArea__postBtn'
          = link_to "もどる", "/", class: "items__postArea__backBtn" 
            
