- breadcrumb :item_show,@item
.product
  .product__body
    .product__main
      %h5.product__main--title
        = @item.name
      .product__main--contents

        .item__photo
          .item__photo--main.slider-item
            -@item.photos.each do |photo|
              = image_tag photo.image.url, class: 'product__main__item-image'
          .item__photo--bottom.thumb-item
            -@item.photos.each do |photo|
              = image_tag photo.image.url, style:'width:60px;height:60px;',class: 'product__main__item-subimage'

        %table.item__ditail
          %tr.item__ditail--head
            %th.item__ditail--name 出品者
            %td
              =link_to @item.user.nickname, '#', class: "item__ditail--title"
              .item__ditail--faceicon
                %span.item__ditail--faceicon--1
                  = icon 'fas', 'grin', class:'face--icon'
                  %span.icon-num 0
                %span.item__ditail--faceicon--2
                  = icon 'fas', 'meh', class:'face--icon'
                  %span.icon-num 0
                %span.item__ditail--faceicon--3
                  = icon 'fas', 'frown', class:'face--icon'
                  %span.icon-num 0
          %tr.item__ditail--head
            %th.item__ditail--name カテゴリー
            %td
              =link_to @item.categoryname, '#', class: "item__ditail--list"

          %tr.item__ditail--head
            %th.item__ditail--name ブランド
            %td 
              -@item.brands.each do |brand|
                =link_to brand.brandname, '#' ,class:"item__ditail--brand"
                
          %tr.item__ditail--head
            %th.item__ditail--name 商品のサイズ
            %td 27cm
          %tr.item__ditail--head
            %th.item__ditail--name 商品の状態
            %td 未使用に使い
          %tr.item__ditail--head
            %th.item__ditail--name 配送料の負担
            %td 着払い（購入者負担）
          %tr.item__ditail--head
            %th.item__ditail--name 配送の方法
            %td クロネコヤマト
          %tr.item__ditail--head
            %th.item__ditail--name 配送元地域
            %td
              = link_to @item.shipping_area, '#', class:"item__ditail--area"
          %tr.item__ditail--head
            %th.item__ditail--name 発送の目安
            %td
              = @item.shipping_days
      .product__main--item--price
        %span.showprice 
          = @item.price
        %span.showtax（税込）
        %span.showfee 送料込み
      .item__buy--btn
        = link_to item_purchase_index_path(@item), class: 'item__check-btn' do
          購入画面に進む
      .product__main--comments
        %p.product__main--comments--main
          = @item.description 
      .item__around--btn
        .item__around--btn--left 
          .item__around--btn--left--l 
            = icon 'far', 'heart', class:'heart--icon'
            %span.item__around--btn--left--l--iine いいね！
            %span.item__around--btn--left--l--num 50
          .item__around--btn--left--r 
            = icon 'fas', 'flag-checkered', class:'flag--icon'
            %span.item__around--btn--left--r--hutekisetu 不適切な商品の報告
        .item__around--btn--right
          = icon 'fas', 'unlock-alt', class:'unlock--icon'
          = link_to "#" , class: "item__around--btn--right--link" do
            あんしん・あんぜんへの取組


    - if user_signed_in? && current_user.id == @item.user_id && @item.buyer_id.blank?
      =render "product_change"


    .product__message
      .product__message--container
        .product__message--contents1
          %ul
            %li
              .message-user
                = icon 'fas', 'user-circle', class:'message-user--icon'
            %li
              .message-body
                .message-body--main
                  

                  
                
        .product__message--contents2
          .form
            .form__rule 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
          .form__comment
            = form_for "#", html: {class: 'product__message--form'} do |f|
              = f.text_area :text, class: 'product__message--text'
          .product__form--submit
            = form_for "#", html: {class: 'product__message--form'} do |f|
              = f.submit "コメントする", class: 'product__message--btn'
    %ul.product__nav
      = icon 'fas', 'chevron-left', class:'product__nav--icon'
      %li.product__nav--left ikonファンクラブ更新特典
      %li.product__nav--right トランクス：ゼノ シークレット
      = icon 'fas', 'chevron-right', class:'product__nav--icon'

    .item__sns
      .item__sns--box
        %ul
          %li
            = link_to "https://www.facebook.com/" , class: "user__check--upload" do
              = icon 'fab', 'facebook', class:'facebook__nav--icon'
          %li
            = link_to "https://twitter.com/login?lang=ja" , class: "user__check--upload" do
              = icon 'fab', 'twitter-square', class:'twitter__nav--icon'
          %li
            = link_to "#https://line.me/ja/" , class: "user__check--upload" do
              = icon 'fab', 'line', class:'line__nav--icon'
          %li
            = link_to "https://www.pinterest.jp/" , class: "user__check--upload" do
              = icon 'fab', 'pinterest-square', class:'pinterest__nav--icon'


    -# ここから出品者のその他の出品商品一覧
    .item-in-user-prf
      %section.item-box-container1
      %section.item-box-container2
        %h6.items-box-head 寿限無 その他の商品
        .items-box-content
          %section.show__item-box
            .show__item-image
              = image_tag "05-shark-week-gallery_82594_600x450_600x450.jpg", size: "220x220", class:'show__item-image-num'
            .show__item-text
              %h7.show__item--text--title ハンマーヘッドシャークの”ここ”
              .show__item--text--num
                .show__item--text--num--price ¥3,980
                .show__item--text--num--body
                  = icon 'far', 'heart', class:'show__item--text--num--icon'
                  %span.show__item--text--num--icon--num 3
          %section.show__item-box
            .show__item-image
              = image_tag "05-shark-week-gallery_82594_600x450_600x450.jpg", size: "220x220", class: "show__item-image-num"
            .show__item-text
              %h7.show__item--text--title ハンマーヘッドシャークの”ここ”
              .show__item--text--num
                .show__item--text--num--price ¥3,980
                .show__item--text--num--body
                  = icon 'far', 'heart', class:'show__item--text--num--icon'
                  %span.show__item--text--num--icon--num 3
          %section.show__item-box1
            .show__item-image
              = image_tag "05-shark-week-gallery_82594_600x450_600x450.jpg", size: "220x220", class:'show__item-image-num'
            .show__item-text
              %h7.show__item--text--title ハンマーヘッドシャークの”ここ”
              .show__item--text--num
                .show__item--text--num--price ¥3,980
                .show__item--text--num--body
                  = icon 'far', 'heart', class:'show__item--text--num--icon'
                  %span.show__item--text--num--icon--num 3
          %section.show__item-box
            .show__item-image
              = image_tag "05-shark-week-gallery_82594_600x450_600x450.jpg", size: "220x220", class: "show__item-image-num"
            .show__item-text
              %h7.show__item--text--title ハンマーヘッドシャークの”ここ”
              .show__item--text--num
                .show__item--text--num--price ¥3,980
                .show__item--text--num--body
                  = icon 'far', 'heart', class:'show__item--text--num--icon'
                  %span.show__item--text--num--icon--num 3
          %section.show__item-box
            .show__item-image
              = image_tag "05-shark-week-gallery_82594_600x450_600x450.jpg", size: "220x220", class:'show__item-image-num'
            .show__item-text
              %h7.show__item--text--title ハンマーヘッドシャークの”ここ”
              .show__item--text--num
                .show__item--text--num--price ¥3,980
                .show__item--text--num--body
                  = icon 'far', 'heart', class:'show__item--text--num--icon'
                  %span.show__item--text--num--icon--num 3
          %section.show__item-box1
            .show__item-image
              = image_tag "05-shark-week-gallery_82594_600x450_600x450.jpg", size: "220x220", class: "show__item-image-num"
            .show__item-text
              %h7.show__item--text--title ハンマーヘッドシャークの”ここ”
              .show__item--text--num
                .show__item--text--num--price ¥3,980
                .show__item--text--num--body
                  = icon 'far', 'heart', class:'show__item--text--num--icon'
                  %span.show__item--text--num--icon--num 3
    -# ここから出品ブランドのその他の出品商品一覧
    .item-in-user-prf
      %section.item-box-container1
      %section.item-box-container2
        %h6.items-box-head チョウチンアンコウの”ここ”  その他の商品
        .items-box-content
          %section.show__item-box
            .show__item-image
              = image_tag "05-shark-week-gallery_82594_600x450_600x450.jpg", size: "220x220", class:'show__item-image-num'
            .show__item-text
              %h7.show__item--text--title ハンマーヘッドシャークの”ここ”
              .show__item--text--num
                .show__item--text--num--price ¥3,980
                .show__item--text--num--body
                  = icon 'far', 'heart', class:'show__item--text--num--icon'
                  %span.show__item--text--num--icon--num 3
          %section.show__item-box
            .show__item-image
              = image_tag "05-shark-week-gallery_82594_600x450_600x450.jpg", size: "220x220", class: "show__item-image-num"
            .show__item-text
              %h7.show__item--text--title ハンマーヘッドシャークの”ここ”
              .show__item--text--num
                .show__item--text--num--price ¥3,980
                .show__item--text--num--body
                  = icon 'far', 'heart', class:'show__item--text--num--icon'
                  %span.show__item--text--num--icon--num 3
          %section.show__item-box1
            .show__item-image
              = image_tag "05-shark-week-gallery_82594_600x450_600x450.jpg", size: "220x220", class:'show__item-image-num'
            .show__item-text
              %h7.show__item--text--title ハンマーヘッドシャークの”ここ”
              .show__item--text--num
                .show__item--text--num--price ¥3,980
                .show__item--text--num--body
                  = icon 'far', 'heart', class:'show__item--text--num--icon'
                  %span.show__item--text--num--icon--num 3
          %section.show__item-box
            .show__item-image
              = image_tag "05-shark-week-gallery_82594_600x450_600x450.jpg", size: "220x220", class: "show__item-image-num"
            .show__item-text
              %h7.show__item--text--title ハンマーヘッドシャークの”ここ”
              .show__item--text--num
                .show__item--text--num--price ¥3,980
                .show__item--text--num--body
                  = icon 'far', 'heart', class:'show__item--text--num--icon'
                  %span.show__item--text--num--icon--num 3
          %section.show__item-box
            .show__item-image
              = image_tag "05-shark-week-gallery_82594_600x450_600x450.jpg", size: "220x220", class:'show__item-image-num'
            .show__item-text
              %h7.show__item--text--title ハンマーヘッドシャークの”ここ”
              .show__item--text--num
                .show__item--text--num--price ¥3,980
                .show__item--text--num--body
                  = icon 'far', 'heart', class:'show__item--text--num--icon'
                  %span.show__item--text--num--icon--num 3
          %section.show__item-box1
            .show__item-image
              = image_tag "05-shark-week-gallery_82594_600x450_600x450.jpg", size: "220x220", class: "show__item-image-num"
            .show__item-text
              %h7.show__item--text--title ハンマーヘッドシャークの”ここ”
              .show__item--text--num
                .show__item--text--num--price ¥3,980
                .show__item--text--num--body
                  = icon 'far', 'heart', class:'show__item--text--num--icon'
                  %span.show__item--text--num--icon--num 3
  .root__nav
    = breadcrumbs pretext: "",separator: " &rsaquo; ", class:"breadcrumbs__bar__under"
